<?xml version="1.0" encoding="utf-8" ?>
<smil>
    <head>
		<meta name="title" content="" />
	    <meta http-equiv="Refresh" content="120" />
        <layout>
			<root-layout backgroundColor="#000000" width="1280" height="720" />
        </layout>
    </head>
    <body>
		<seq repeatCount="indefinite">
			<img src="{{{IMAGE_PATH}}}" dur="120s" fit="fill"/>
			<img src="{{{IMAGE_PATH}}}" dur="120s" fit="fill"/>
			<img src="{{{IMAGE_PATH}}}" dur="120s" fit="fill"/>
			<img src="{{{IMAGE_PATH}}}" dur="120s" fit="fill"/>
			<img src="{{{IMAGE_PATH}}}" dur="120s" fit="fill"/>
		</seq>
    </body>
</smil>