<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<smil>
	<head>
		<meta name="title" content="{TITLE}" />
		<meta http-equiv="Refresh" content="{{{REFRESH_TIME}}}" />
		{{#layout}}
		<layout>
            <root-layout id="display:0" width="{{{ROOT_LAYOUT_WIDTH}}}" height="{{{ROOT_LAYOUT_HEIGHT}}}" />
		</layout>
		{{/layout}}
	</head>
	<body>
		<seq repeatCount="indefinite">
			{{{INSERT_ELEMENTS}}}
		</seq>
	</body>
</smil>
