<ul>
	<li><strong>{{{LANG_PLAYER_ACTIVE}}}:</strong> <span>{{{PLAYER_ACTIVE}}}</span></li>
	<li><strong>{{{LANG_PLAYER_PENDING}}}:</strong> <span>{{{PLAYER_PENDING}}}</span></li>
	<li><strong>{{{LANG_PLAYER_INACTIVE}}}:</strong> <span>{{{PLAYER_INACTIVE}}}</span></li>
</ul>