{{> datatable}}

<template id="playerSettingsContextMenuTemplate">
	<ul class="context-menu">
		{{#create_player_settings_contextmenu}}
		<li>
			<a href="/player/{{{PLAYER_SETTING}}}">{{{LANG_PLAYER_SETTING}}}</a>
		</li>
		{{/create_player_settings_contextmenu}}
	</ul>
</template>
