.results-listing li
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.results-listing .player_name {width:59%;}
.results-listing .UID {width:20%;}
.results-listing .status {width:7%;}
.results-listing .model {width:7%;}
.results-listing .playlist_id {width:7%;}
