.results-listing li
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.results-listing .last_access {width:15%;}
.results-listing .player_name {flex-grow: 1}
.results-listing .UID {width:15%;}
.results-listing .status {width:10%;}
.results-listing .model {width:10%;}
.results-listing .playlist_id {width:30%;}
.results-listing .actions {width:5rem;}

.player-active{background: url("/images/bullets/green.png") no-repeat 0 center;padding-left:20px;}
.player-pending{background: url("/images/bullets/yellow.png") no-repeat 0 center;padding-left:20px;}
.player-inactive{background: url("/images/bullets/red.png") no-repeat 0 center;padding-left:20px;}
