
#password, #password_confirm{width:20rem;}
.password-container {
    position: relative;
    width: 22rem;
    display: flex;
    align-items: center;
    border-radius: var(--gh-border-radius);
    border: 1px solid #aaa;
    padding: 0.25rem 1rem 0.25rem 0.5rem;
}
.password-container input[type="password"],
.password-container input[type="text"]
{
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    outline: 0;
    background: transparent;
}