parameters:
    level: 8
    paths:
        - src
        - tests

    reportUnmatchedIgnoredErrors: true
 #   ignoreErrors:

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
