parameters:
    level: 3
    paths:
        - tests

    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Call to an undefined method *#'

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
