{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/companies/legals.css') }}">
{% endblock %}

{% block body %}
	<h1>Impressum</h1>

	<ul class="company_legals">
		<li>
			<a href=""></a>&nbsp;
		</li>

		<li>
			<article>
				<h2>Sagiadinos</h2>
				<p>
					Niederaue 1a<br />
					30419 Hannover<br />
					Deutschland
				</p>
				<p>

				</p>
			</article>
		</li>

		<li>

		</li>
	</ul>

{% endblock %}