{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/mediapool/overview.css') }}">
{% endblock %}

{% block body %}
	<h1>Mediapool</h1>

	<ul class="mediapool">
		<li>
		</li>
		<li>
		</li>
		<li>
		</li>
	</ul>

{% endblock %}