{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/external/wunderbaum.css') }}">
	<link rel="stylesheet" href="{{ asset('css/mediapool/overview.css') }}">
{% endblock %}

{% block body %}
	<h1>Mediapool</h1>
	<script src="{{ asset('js/external/wunderbaum.umd.min.js') }}"></script>
	<script src="{{ asset('js/mediapool/treeview.js') }}"></script>
	<script type="module">
		import wunderbaum from "https://cdn.jsdelivr.net/npm/wunderbaum@0/+esm";
	</script>
	<div id="categories">
		<div>
			<label for="filter_treeview">{LANG_FILTER_TREEVIEW}</label><br />
			<input name="filter_treeview" id="filter_treeview">
		</div>


		<!-- BEGIN create_root_category -->
		<a class="ri-folder-add-fill" title="{LANG_CREATE_ROOT_CATEGORY}"></a>
		<!-- END create_root_category -->
		<div id="categories_list">
		</div>
	</div>

{% endblock %}