<aside>
			<label id="wrap_tree_filter">
				<input id="tree_filter" type="search" placeholder="Filter"><a class="bi bi-folder-plus" id="addRootFolder" title="{{LANG_ADD_ROOT_FOLDER}}"></a>
			</label>

			<nav aria-label="Directory Structure">
				<div id="mediapool-tree" class="wb-skeleton wb-initializing wb-fade-expander"></div>
			</nav>

			<dialog id="editFolderDialog">
				<button id="close_dialog_button" aria-label="Close">&times;</button>
				<form method="dialog">
					<fieldset>
						<legend></legend>
						<label for="folder_name">{{LANG_FOLDER_NAME}}:
							<input type="text" id="folder_name" name="folder_name" required>
						</label>
						<label for="is_public"></label>
						<input type="checkbox" id="is_public" name="is_public"> {{LANG_IS_PUBLIC}}

						<input type="hidden" id="parent_node_id" name="parent_node_id">
						<input type="hidden" id="current_node_id" name="current_node_id">

						<div class="dlg_buttons">
							<button value="submit" type="submit">{{LANG_SAVE}}</button>
							<button value="cancel" formnovalidate autofocus>{{LANG_CANCEL}}</button>
						</div>
					</fieldset>
				</form>
			</dialog>
		</aside>

		<template id="context_menu_tree">
			<ul class="context_menu">
				<li id="edit_node">
					<i class="bi bi-pencil"></i> {{LANG_EDIT}}
				</li>
				<li id="add_node">
					<i class="bi bi-folder-plus"></i> {{LANG_ADD_SUB_FOLDER}}
				</li>
				<li id="remove_node">
					<i class="bi bi-trash"></i> {{LANG_REMOVE}}
				</li>
			</ul>
		</template>


		<section class="content">
			<div class="upload">
				<button><i class="bi bi-upload"></i> Upload</button> <strong id="current-path"> / </strong>
			</div>

			<div class="media-list" aria-labelledby="media-list-title">
				<figure>
					<figcaption>Image1.jpg</figcaption>
				</figure>
			</div>
		</section>

	<script>
		let lang = {
            "add_root_folder": "{{LANG_ADD_ROOT_FOLDER}}",
			"add_sub_folder": "{{LANG_ADD_SUB_FOLDER}}",
			"edit_folder": "{{LANG_EDIT_FOLDER}}",
        };
</script>