<aside>
			<label id="wrap_tree_filter">
				<input id="tree_filter" type="search" placeholder="Filter"><a class="bi bi-folder-plus" id="addRootFolder" title="{{LANG_ADD_ROOT_FOLDER}}"></a>
			</label>

			<nav aria-label="Directory Structure">
				<div id="mediapool-tree" class="wb-skeleton wb-initializing wb-fade-expander"></div>
			</nav>

			<dialog id="editFolderDialog">
				<button id="closeEditDialog" class="close-button" aria-label="Close">&times;</button>
				<form method="dialog">
					<fieldset>
						<legend></legend>
						<label for="folder_name">{{LANG_FOLDER_NAME}}:
							<input type="text" id="folder_name" name="folder_name" required>
						</label>
						{{#folder_dialog_visibility}}
						<label for="visibility"> {{LANG_FOLDER_VISIBILITY}}
							<select>
								{{#visibility_options}}
								<option id="visibility_{{VISIBILITY_OPTIONS_VALUE}}" value="{{VISIBILITY_OPTIONS_VALUE}}">{{VISIBILITY_OPTIONS_NAME
								}}</option>
								{{/visibility_options}}
							</select>
						</label>
						{{/folder_dialog_visibility}}

						<input type="hidden" id="parent_node_id" name="parent_node_id">
						<input type="hidden" id="current_node_id" name="current_node_id">

						<div class="dlg_buttons">
							<button value="submit" type="submit">{{LANG_SAVE}}</button>
							<button value="cancel" formnovalidate autofocus>{{LANG_CANCEL}}</button>
						</div>
					</fieldset>
				</form>
			</dialog>
			<template id="context_menu_tree">
				<ul class="context_menu">
					<li id="edit_node">
						<i class="bi bi-pencil"></i> {{LANG_EDIT}}
					</li>
					<li id="add_node">
						<i class="bi bi-folder-plus"></i> {{LANG_ADD_SUB_FOLDER}}
					</li>
					<li id="remove_node">
						<i class="bi bi-trash"></i> {{LANG_REMOVE}}
					</li>
				</ul>
			</template>
		</aside>

		<section class="content">
			<dialog id="uploaderDialog">
				<button id="closeUploadDialog" class="close-button"  aria-label="Close">&times;</button>
				<nav class="tab-header">
					<button class="tab-button active" data-tab="dragDropTab">Upload</button>
					<button class="tab-button" data-tab="linkTab">Link</button>
					<button class="tab-button" data-tab="webcamTab">Webcam</button>
					<button class="tab-button" data-tab="screencastTab">Screencast</button>
					<button class="tab-button" data-tab="unsplashTab">Unsplash</button>
				</nav>

				<section class="tab-content active" id="dragDropTab">
					<h3>{{LANG_DRAG_AND_DROP}}</h3>
					<p id="dropzone">
						{{LANG_INSERT_FILES_HERE}}
						<input type="file" id="fileInput" style="display: none;" multiple>
					</p>
					<div id="dropzone-preview"></div>
					<button id="startFilesUpload" class="upload-button">{{LANG_START_UPLOAD}}</button>
				</section>

				<section class="tab-content" id="linkTab">
					<h3>{{LANG_ENTER_FILE_URL}}</h3>
					<label>
						<input type="url" placeholder="https://example.com/media.jpg" id="externalLinkField">
					</label>
					<button id="startExternalFileUpload" class="upload-button">{{LANG_START_UPLOAD}}</button>
				</section>

				<section class="tab-content" id="webcamTab">
					<h3>Webcam</h3>
					<p>Nehmen Sie ein Bild oder Video mit Ihrer Webcam auf:</p>
					<video id="webcamPreview" autoplay style="width: 100%; border: 1px solid #ccc;"></video>
					<button id="capturePhoto">Capture Photo</button>
				</section>

				<section class="tab-content" id="screencastTab">
					<h3>Screencast</h3>
					<p>Zeichnen Sie Ihren Bildschirm auf:</p>
					<button id="startScreencast">Start Screencast</button>
				</section>

				<section class="tab-content" id="unsplashTab">
					<h3>Unsplash Integration</h3>
					<label>Suchen Sie nach Bildern:
						<input type="text" placeholder="Suchbegriff" style="width: 100%; padding: 10px;">
					</label>
					<div style="margin-top: 10px;">Bildervorschau hier...</div>
				</section>

				<footer>
					<button id="closeDialog">{{LANG_CLOSE}}</button>
				</footer>
			</dialog>

			<h2 id="current-path"> / </h2>

			<div class="upload">
				<button id="openUploadDialog" disabled><i class="bi bi-upload"></i> Uploader</button>
			</div>

			<div id="media-list" class="media-grid" aria-labelledby="media-list-title">
			</div>
			<dialog id="editMediaDialog">
				<button id="closeEditMediaDialog" class="close-button" aria-label="Close">&times;</button>
				<form method="dialog">
					<fieldset>
						<legend></legend>
						<label for="edit-filename">{{LANG_FILENAME}}:
							<input type="text" id="edit-filename" name="edit-filename">
						</label>
						<label for="edit-description">{{LANG_DESCRIPTION}}:
							<textarea id="edit-description" name="edit-description">
							</textarea>
						</label>

						<input type="hidden" id="media_id" name="media_id">

						<div class="dlg_buttons">
							<button value="submit" type="submit">{{LANG_SAVE}}</button>
							<button value="cancel" formnovalidate autofocus>{{LANG_CANCEL}}</button>
						</div>
					</fieldset>
				</form>
			</dialog>
			<template id="media-template">
				<article class="media-item" draggable="true">
					<figure draggable="false">
						<i class="media-type-icon bi" draggable="false"></i>
						<a href="" class="glightbox media-view-icon bi-eye bi"
						   data-glightbox="descPosition: left; zoomable: true;" draggable="false">
						</a>
						<img src="" alt="Media Thumbnail" draggable="false">
						<figcaption class="media-info" draggable="false">
							<p>{{LANG_FILENAME}}: <span class="media-filename">example.jpg</span></p>
							<p>{{LANG_OWNER}}: <span class="media-owner">image/jpeg</span></p>
							<p>{{LANG_MIMETYPE}}: <span class="media-mimetype">image/jpeg</span></p>
							<p>{{LANG_FILESIZE}}: <span class="media-filesize">0</span></p>
							<p style="display: none">{{LANG_DIMENSIONS}}: <span class="media-dimensions">100x100</span></p>
							<p style="display: none">{{LANG_MEDIA_DURATION}}: <span class="media-duration">00:00:00</span></p>
						</figcaption>
					</figure>
				</article>
			</template>
			<template id="media-contextmenu-template">
				<ul class="context_menu">
					<li id="edit_media">
						<i class="bi bi-pencil"></i> {{LANG_EDIT}}
					</li>
					<li id="clone_media">
						<i class="bi bi-clipboard-plus"></i> {{LANG_CLONE}}
					</li>
			<!--		<li id="download_media">
						<i class="bi bi-download"></i> {{LANG_DOWNLOAD}}
					</li>
				-->	<li id="remove_media">
						<i class="bi bi-trash"></i> {{LANG_REMOVE}}
					</li>
				</ul>
			</template>
		</section>

	<script>
		let lang = {
            "add_root_folder": "{{LANG_ADD_ROOT_FOLDER}}",
			"add_sub_folder": "{{LANG_ADD_SUB_FOLDER}}",
			"edit_folder": "{{LANG_EDIT_FOLDER}}",
			"user_folder": "{{LANG_USER_FOLDER}}",
        };
</script>