<!DOCTYPE html>
<html lang="{{CURRENT_LOCALE_LOWER}}">
	<head>
		<meta charset="UTF-8">
		<title>{{APP_NAME}}: {{LANG_PAGE_TITLE}}</title>
		<link rel="icon" href="/images/logo.svg" type="image/svg+xml">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/css/external/normalize.css">
		<link rel="stylesheet" href="/css/external/bootstrap-icons.min.css">
		<link rel="stylesheet" href="/css/theme-base.css">
		{{#additional_css}}
		<link rel="stylesheet" href="{{.}}">
		{{/additional_css}}
		{{#header_scripts}}
		<script src="{{.}}"></script>
		{{/header_scripts}}
	</head>
	<body>
	<template>
		<div class="message-bar message-bar--{{MESSAGE_TYPE}}">
			<span>{{MESSAGE_TEXT}}</span>
			{{#has_close_button}}
				<button class="close-button" onclick="this.parentElement.style.display='none';">
					<i>&times;</i>
				</button>
			{{/has_close_button}}
		</div>
	</template>

	{{#messages}}
		<div class="message-bar message-bar--{{MESSAGE_TYPE}}">
			<span>{{MESSAGE_TEXT}}</span>
			{{#has_close_button}}
				<button class="close-button" onclick="this.parentElement.style.display='none';">
					<i>&times;</i>
				</button>
			{{/has_close_button}}
		</div>
	{{/messages}}
	<header>
		<nav>
			<div>
				<a href="/"><img width="150" src="/images/logo.svg" alt="garlic-hub logo"></a>
			</div>
			<ul class="main_menu">
				{{#main_menu}}
					<li>
						<a href="{{URL}}" title="{{LANG_MENU_POINT}}">{{LANG_MENU_POINT}}</a>
					</li>
				{{/main_menu}}
			</ul>
			<ul id="language_select" class="main_menu">
				<li>
					{{CURRENT_LOCALE_UPPER}}
					<ul>
						{{#language_select}}
							<li>
								<a href="/set-locales/{{LOCALE_LONG}}" title="{{LOCALE_SMALL}}">{{LANGUAGE_NAME}}</a>
							</li>
						{{/language_select}}
					</ul>
				</li>
			</ul>
			{{#user_menu}}
			<ul class="main_menu" id="user_menu">
				<li>
					{{LANG_LOGIN_AS}}: {{USERNAME}}
					<ul>
						{{#has_user_access}}
						<li>
							<a class="dropdown-item" href="{{{LINK_USER_ACCESS}}}">{{LANG_USER_ACCESS}}</a>
						</li>
						{{/has_user_access}}
						<li>
							<a class="dropdown-item" href="/users/edit">{{LANG_MANAGE_ACCOUNT}}</a>
						</li>
						<li>
							<a class="dropdown-item" href="/logout">{{LANG_LOGOUT}}</a>
						</li>
					</ul>
				</li>
			</ul>
			{{/user_menu}}
		</nav>
	</header>
	<main>
		{{{MAIN_CONTENT}}}
	</main>
	<footer>
		<nav aria-label="Footer Navigation" class="menu_company_legals">
			<ul>
				<li>
					<a href="/legals">{{LANG_LEGAL_NOTICE}}</a>
				</li>
				<li>
					<a href="/privacy">{{LANG_PRIVACY}}</a>
				</li>
				<li>
					<a href="/terms">{{LANG_TERMS}}</a>
				</li>
				<li id="compile_time">
					{{EXECUTION_TIME}} | {{MEMORY_USAGE}} | {{PEAK_MEMORY_USAGE}} peak
				</li>
			</ul>
		</nav>
	</footer>

	<script type="module">
	{{#footer_modules}}
		import "{{.}}";
	{{/footer_modules}}
	</script>

	{{#footer_scripts}}
		<script src="{{.}}"></script>
	{{/footer_scripts}}


	</body>
</html>
