main
{
    display: grid;
    grid-template-columns: 250px 1fr; /* Seitenleiste + Hauptbereich */
    grid-template-rows: auto; /* Automatische Höhe */
    grid-template-areas:
        "aside content";
    gap: 0.25rem;
}

    aside
    {
        border-right: 1px solid #ddd;
        padding: 0.25em;
        overflow-y: auto;
    }
    div.wunderbaum
    {
        background-color: transparent;
        border:0;
    }

    section.content
    {
        padding: 0.25em;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        overflow-y: auto;
    }
    section.content .upload {justify-content: space-between;margin: 0;padding:0;}
    section.content > #current-path{font-weight: bold; text-align: right; margin:0;padding:0;}

    #wrap_tree_filter{display: flex; gap: 0.5rem; align-items: center;margin-bottom:0.5rem;}
    #wrap_tree_filter > input{width:85%;padding:0.1rem 0.25rem;border-radius: 5px; }

dialog
{
    border:0;
    border-radius: var(--gh-border-radius);
    box-shadow: var(--gh-box-shadow);
}
    dialog .dlg_buttons { display: flex;gap: 1rem; margin:1em 0 0 0; }
    dialog::backdrop {background-color:  rgba(0, 122, 80, 0.5);}

@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 0;
    }
}

.context_menu {
    position: absolute;
    z-index: 1000;
    list-style: none;
    margin: 0;
    padding: 0;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: var(--gh-box-shadow);
}

    .context_menu li {
        padding: 8px 20px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .context_menu li:hover {
        background-color: #f0f0f0;
    }

#uploadDialog{width:800px;height:800px;}

#openUploadDialog:disabled
{
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

.media-grid
{
    display:grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 1em;
    padding: 1em;
    box-sizing: border-box;
}

    .media-item
    {
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: var(--gh-border-radius);
        overflow: hidden;
        position: relative;
        width: 100%;
        aspect-ratio: 3 / 2;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s, box-shadow 0.2s;
    }
    .media-item:hover {transform: translateY(-4px); box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);}

    .media-item figure
    {
        width:100%;
        height:100%;
        margin:0;
    }
        .media-item figure img
        {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        .media-item figure .media-type-icon
        {
            position: absolute;
            z-index:100;
            bottom: 5px;
            right: 5px;
            font-size: 1.4em;
            text-align: center;
            background-color: #eee;
            padding:0;
            margin:0;
            line-height:0;
        }

        .media-item figure .media-menu
        {
            position: absolute;
            z-index:100;
            top: 5px;
            right: 5px;
            font-size: 1.4em;
            text-align: center;
            background-color: #fff;
            padding:0;
            margin:0;
            line-height:0;
            border:1px solid #ccc;
            border-radius: var(--gh-border-radius);
        }
        .media-item figure .media-menu:hover
        {
            cursor: pointer;
        }

.media-info
    {
        position: absolute;
        white-space: nowrap;
        bottom: 0;
        left:0;
        z-index:10;
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 0.5rem;
        font-size: 0.8rem;
        box-sizing: border-box;
        width: 100%;
        opacity: 0;
    }
        .media-info p {margin:0;padding:0;}


    .media-item:hover .media-info {opacity: 1;}