main
{
    display: grid;
    grid-template-columns: 250px 1fr; /* Seitenleiste + Hauptbereich */
    grid-template-rows: auto; /* Automatische Höhe */
    grid-template-areas:
        "aside content";
    gap: 0.25rem;
}

    aside
    {
        border-right: 1px solid #ddd;
        padding: 0.25em;
        overflow-y: auto;
    }
    div.wunderbaum
    {
        background-color: transparent;
        border:0;
    }

    section.content
    {
        padding: 0.25em;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        overflow-y: auto;
    }
    section.content .upload {justify-content: space-between;margin: 0;padding:0;}
    section.content > #currentPath{font-weight: bold; text-align: right; margin:0;padding:0;}

    #wrap_tree_filter{display: flex; gap: 0.5rem; align-items: center;margin-bottom:0.5rem;}
    #wrap_tree_filter > input{width:85%;padding:0.1rem 0.25rem;border-radius: 5px; }

#uploadDialog{width:800px;height:800px;}

#openUploadDialog:disabled
{
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

[draggable="true"]{cursor: grab;}
[draggable="true"]:active { cursor: grabbing; }
.list-actions {display: flex; gap: 0.5em;}

#editInfoDialog {width:50%; }
    #editInfoDialog ul {list-style-type: none; padding:1em; margin:0;}
    #editInfoDialog ul li{display: flex; gap:1em;}
    #editInfoDialog ul li .info-parameter{font-family: var(--gh-font-bold);width:30%;}
    #editInfoDialog ul li .media-filename{width:65%; text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}

    #editInfoDialog ul li a{color: var(--gh-primary-color);text-align:center;}
    #editInfoDialog ul li a:hover{text-decoration: underline;}

#editMediaDialog {width:40%; }
    #editMediaDialog textarea {height:200px;}
