#uploaderDialog
{
    width: 54vw;
    min-height:600px;
    border: none;
    border-radius: var(--gh-border-radius);
    box-shadow: var(--gh-box-shadow);
    padding: 0;
}

    dialog nav {display: flex; border-bottom: 1px solid #ccc; background: #f9f9f9;}

    dialog nav button
    {
        flex: 1;
        padding: 10px;
        border: none;
        background: none;
        cursor: pointer;
        font-size: 16px;
        color: #333;
    }

    dialog nav button.active {background: #fff; font-weight: bold; border-bottom: 2px solid #007bff;}
    .tab-content {display: none; padding: 1rem;}
    .tab-content h3 {padding:0;margin:0;}
    .tab-content.active {display: block;}

    dialog footer
    {
        padding: 1em;
        border-top: 1px solid #ccc;
        text-align: right;
        background: #f9f9f9;
    }

    .dialog-footer button {padding: 5px 10px; font-size: 14px; cursor: pointer;}

    #dropzone{border: 2px dashed #ccc; padding: 1em; margin:1em 0 0 0; text-align: center;}
    .preview-media{display:flex; flex-wrap: wrap; gap:1rem;margin:1em 0;}

    #externalLinkField{width:100%; margin: 1rem 0; padding:0.5rem 0.5rem;}

    .previewContainer
    {
        display: inline-block;
        position: relative;
    }
    .previewContainerError
    {
        background-color: red;
        border: 1px solid red;
        display: inline-block;
        position: relative;
    }
        .tooltip
        {
            position: absolute;
            top: 15px;
            left: 0;
            z-index: 100;
            padding: 5px 10px;
            background-color: #333;
            color: #fff;
            font-size: 12px;
            visibility: hidden;
            text-align:center;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width:150px;
            white-space: nowrap;
        }
        .tooltip:hover{text-overflow: unset; overflow: unset;max-width: unset;}

        .previewElement
        {
            width: 150px;
            height:150px;
            object-fit: cover;
            border: 1px solid #ccc;
            border-radius: var(--gh-border-radius);
        }
.upload-button
{
    margin:1em 0;
}
        .closeButton
        {
            position: absolute;
            z-index: 1000;
            top: -10px;
            right: -10px;
            background-color: #444;
            color: white;
            border: none;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            cursor: pointer;
        }

    .upload-button:disabled, #closeUploadDialog:disabled, #closeDialog:disabled
    {
        background-color: #ccc;
        color: #666;
        cursor: not-allowed;
    }

    #progressContainer
    {
        width: 100%;
        background: #e0e0e0;
        margin: 1em 0;
        position: absolute;
        z-index: 1000;
        bottom: 0;
        opacity: 0.8;
    }
    #progressBar {width: 0;padding:0.25em; background: #4caf50; height: 100%; text-align: center; color: white;}

input:disabled, select:disabled, button:disabled
{
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

label:has(input:disabled)
{
    cursor: not-allowed;
    color: #bbb;
}

.wrapVideoElements
{
    display: flex;
    gap:1em;
    margin: 1rem 0;
}

.live-preview-video
{
    width: 280px;
    height: 240px;
    border: 1px solid #ccc;
    border-radius: var(--gh-border-radius);
}

.platform-mask
{
    display: flex;
    gap: 1em;
    padding: 1rem 0;
}
    .platform-mask button
    {
        width:6rem;
    }

    .platform-mask input[type="text"]
    {
        width:70%;
    }

.search-results-media
{
    display:grid;
    grid-template-columns: repeat(auto-fill, 150px);
    gap: 1em;
    box-sizing: border-box;
    height:350px;
    overflow: scroll;
    margin: 1rem 0;
}

    .result-media-container
    {
        width: 150px;
        height:150px;
        position: relative;
        display: inline-block;
    }

    .result-thumbnail
    {
        width: 148px;
        height:148px;
        object-fit: cover;
        border: 1px solid #aaa;
        border-radius: var(--gh-border-radius);
    }

    .result-thumbnail:hover { border:1px solid #000; }

    .result-preview
    {
        position: absolute;
        top: 0;
        left:30px;
        z-index: 10;
        max-width: 400px;
        max-height: 400px;
        display: none;
        transition: opacity 0.3s ease;
        border: 1px solid #000;
        border-radius: var(--gh-border-radius);
    }

    .result-checkbox
    {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 2;
    }

    .media-view-detail
    {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        z-index: 2;
        width: 25px;
        height: 25px;
        background-color: white;
        text-align: center;
        padding: 0;
    }

    .media-view-detail:hover ~.result-preview
    {
        display: block;
        opacity: 1;
        animation: stayVisible 5s forwards;
    }

    @keyframes stayVisible {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

