dialog
{
    width: 800px;
    border: none;
    border-radius: var(--gh-border-radius);
    box-shadow: var(--gh-box-shadow);
    padding: 0;
}

    dialog nav {display: flex; border-bottom: 1px solid #ccc; background: #f9f9f9;}

    dialog nav button
    {
        flex: 1;
        padding: 10px;
        border: none;
        background: none;
        cursor: pointer;
        font-size: 16px;
        color: #333;
    }

    dialog nav button.active {background: #fff; font-weight: bold; border-bottom: 2px solid #007bff;}
    .tab-content {display: none; padding: 1rem;}
    .tab-content h3 {padding:0;margin:0;}
    .tab-content.active {display: block;}

    dialog footer {padding: 1em; border-top: 1px solid #ccc; text-align: right; background: #f9f9f9; }

    .dialog-footer button {
        padding: 5px 10px;
        font-size: 14px;
        cursor: pointer;
    }

    #dropzone{border: 2px dashed #ccc; padding: 1em; margin:1em 0 0 0; text-align: center;}
    #dropzone-preview{display:flex; flex-wrap: wrap; gap:1rem;margin:1em 0;}

    .previewContainer
    {
        display: inline-block;
        position: relative;

    }
        .tooltip
        {
            position: absolute;
            top: 5px;
            left: 0;
            z-index: 100;
            padding: 5px 10px;
            background-color: #333;
            color: #fff;
            font-size: 12px;
            border-radius: var(--gh-border-radius);
            visibility: hidden;
            text-align:center;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width:150px;
            white-space: nowrap;
        }
        .tooltip:hover{text-overflow: unset; overflow: unset;max-width: unset;}

        .previewElement
        {
            width: 150px;
            height:150px;
            object-fit: contain;
            border: 1px solid #ccc;
            border-radius: var(--gh-border-radius);
        }

        .closeButton
        {
            position: absolute;
            top: -10px;
            right: -10px;
            background-color: #444;
            color: white;
            border: none;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            cursor: pointer;
        }