<configuration xmlns="http://schemas.adfotain.org/config-1.0">
	<security>
		<user>admin</user>
		<password></password>
	</security>
	<userPref>

		{{#info_player_name}}
		<prop name="info.playerName" value="{{{INFO_PLAYER_NAME}}}"/>
		{{/info_player_name}}

		{{#content_server_url}}
		<prop name="content.bootFromServer" value="true"/>
		<prop name="content.serverUrl" value="{{{CONTENT_SERVER_URL}}}"/>
		{{/content_server_url}}

		{{#password_main}}
		<prop name="password.main" value="{{{PASSWORD_MAIN}}}"/>
		{{/password_main}}
		{{#password_menu}}
		<prop name="password.menu" value="{{{PASSWORD_MENU}}}"/>
		{{/password_menu}}
		{{#startup_autostart}}
		<prop name="startup.autostart" value="{{{STARTUP_AUTOSTART}}}"/>
		{{/startup_autostart}}
		{{#startup_delay_seconds}}
		<prop name="startup.delay_seconds" value="{{{STARTUP_DELAY_SECONDS}}}"/>
		{{/startup_delay_seconds}}
		{{#reboot_on_wake_on}}
		<prop name="reboot.wake_on" value="{{{REBOOT_ON_WAKE_ON}}}"/>
		{{/reboot_on_wake_on}}

		{{#content_loop}}
		<prop name="content.loop" value="{{{CONTENT_LOOP}}}"/>
		{{/content_loop}}

		{{#content_jump_to_first}}
		<prop name="content.jump_to_first" value="{{{CONTENT_JUMP_TO_FIRST}}}"/>
		{{/content_jump_to_first}}
		{{#content_touch_overlay}}
		<prop name="content.touch_overlay" value="{{{CONTENT_TOUCH_OVERLAY}}}"/>
		{{/content_touch_overlay}}
		{{#system_back_button}}
		<prop name="system.back_button" value="{{{SYSTEM_BACK_BUTTON}}}"/>
		{{/system_back_button}}
		{{#system_watchdog}}
		<prop name="system.watchdog" value="{{{SYSTEM_WATCHDOG}}}"/>
		{{/system_watchdog}}
		{{#system_bar_hide}}
		<prop name="system.bar_hide" value="{{{SYSTEM_BAR_HIDE}}}"/>
		{{/system_bar_hide}}

	</userPref>
</configuration>