.results-listing .username {width:15%;}
.results-listing .firstname {width:15%;}
.results-listing .surname {width:15%;}
.results-listing .company_name {width:15%;}
.results-listing .created_at {width:15%;}
.results-listing .status {width:15%;}

.results-listing .delete-user {cursor:pointer;}
