	<section class="main-element-group main-element-group-centered">
		<h2>Programmed by</h2>
		<span>Nikolaos Sagiadinos</span>
		<p>
			Niederaue 1a<br/>
			D-30419 Hannover
		</p>
		<p>
			garlic (at) saghiadinos.de<br/>
			Tel.: +49 (0)511 - 3728232
		</p>
	</section>
	<section class="main-element-group main-element-group-centered">
		<h2>Privacy Policy</h2>
		<p>
			You're welcome to browse our website without sharing any personal details. For certain services, however, different rules apply, and these will be clearly outlined where relevant.
		</p>
		<p>
			We collect personal information, such as your name and email address, strictly in compliance with German data protection regulations. This includes the German Federal Data Protection Act (BDSG) and the Telemedia Act (TMG). Personal information is defined as any data that can identify a specific individual.
		</p>
		<p>
			The following sections will provide you with full transparency regarding how we collect, use, and process your personal information. It's important to note that transmitting data over the internet always carries some security risks, and complete protection from third-party access isn't possible.
		</p>
		<h3>Server Data</h3>
		<p>
			When you browse our site, your internet browser automatically provides us (or our web service provider) with certain technical details. This information, called server log files, includes things like:
		</p>
		<ul>
			<li>
				What browser and operating system you're using
			</li>
			<li>
				Which website you came from
			</li>
			<li>
				Which pages you visit on our site
			</li>
			<li>
				The date and time of your visit
			</li>
			<li>
				Your IP address
			</li>
			<li>
				We collect this anonymous data, which is always kept separate from any personal information you give us purely for statistical analysis. This helps us understand how our website is used so we can make it better for everyone.
			</li>
		</ul>
		<p>
			For security purposes (like preventing fraud), these log files are held for no more than 30 days before being deleted. If we need to keep certain data longer for an ongoing investigation, we will.
		</p>
	</section>
