<ul>
	<li><strong>{{{LANG_SERVER_SPACE}}}:</strong> <span>{{{SERVER_SPACE}}}</span></li>
	<li><strong>{{{LANG_SERVER_MEMORY}}}:</strong> <span>{{{SERVER_MEMORY}}}</span></li>
	<li><strong>{{{LANG_SERVER_LOAD}}}:</strong> <span>{{{SERVER_LOAD}}}</span></li>
	<li><strong>{{{LANG_SERVER_IP}}}:</strong> <span>{{{SERVER_IP}}}</span></li>
</ul>