	<h1>{{{LANG_PAGE_HEADER}}}</h1>
	<article class="dashboards">
		{{#dashboard}}
		<section class="dashboard main-element-group">
			<h2>{{{LANG_DASHBOARD_TITLE}}}</h2>
			{{{DASHBOARD_CONTENT}}}
		</section>
		{{/dashboard}}
	</article>

	<pre>{{SHOW_SESSION}}</pre>
