main header
{
    display: flex;
    gap: 1rem;
    margin:0 0 0.5rem 0;
    align-items: center;
    justify-content: flex-end;
    background-color: #f3f3f3;
    padding: 0.5rem;
}
    main header section
    {
        display: flex;
        gap: 1rem;
        align-items: center;
    }
#insertMenu{cursor: pointer;margin-right: auto;}
#insertMenu .context-menu
{
    display: none;
    position: absolute;
    top:0;
}
#insertMenu:hover .context-menu {display: block;}
.playlist-composer
{
    display: flex;
    gap: 1rem;
}
    .playlist-composer #itemSelectContainer
    {
        width:60%;
        border:1px solid #ccc;
        height:74vh;
    }
    .playlist-composer #thePlaylist
    {
        width:40%;
        border:1px solid #ccc;
        height:74vh;
        overflow-y: auto;
        padding: 0;
        margin:0;
    }

/*#insertMenu:focus .context-menu {display: block;}
#addItems:focus .context-menu {display: block;}*/

.playlist-item {width:100%;margin: 0.5rem 0;display:flex; gap:0.5rem; background-color:#ccc; }
.playlist-item:nth-child(2n+1) {background-color: #f1f1f1;}
    .playlist-item img{width:100px; height:100px;object-fit: cover;}
    .playlist-item .actions{display:flex; gap:0.5rem;}
    .playlist-item .item-duration{width:100%;margin: 0.5rem 0;display:flex; gap:0.5rem;}

