/* conditional play  timer */

.form-group{margin:0 0 0.5rem 0;display: flex; gap:0.5rem;align-items: center;}
    .form-group div{gap:0.5rem; align-items: center;}
    .form-group label{display: inline;padding:0;margin:0;}
    .form-group > label{width:10rem;}
.form-group input[type=date], [type=time]{width:8rem;}


.sliders-group{margin:0;padding:0.5rem;display: flex; gap:0.5rem;align-items:center;height:55px}
.sliders-group:nth-child(odd) {background-color: #f1f1f1;}
.sliders-group > label{width:8rem;}
.sliders-group label{display: inline;padding:0;margin:0;}

.slider {width:70%;text-align: center; height:55px;}

.noUi-handle {background: var(--gh-secondary-color);}

.noUi-connect {background: var(--gh-third-color);}

.weekdays_header
{
	font-weight: bold;
	padding:1em 0 0 0;
	margin:0;
}


