/* conditional play  timer */

#edit_conditional_play
{
	padding:0;
	margin:0;
}
	#edit_conditional_play > li
	{
		padding:1em 0;
		margin:0;
	}

.weekdays_header
{
	font-weight: bold;
	padding:1em 0 0 0;
	margin:0;
}

.list_weekday
{
	list-style: none;
	display: flex;
	gap:0.5em;
	align-items: flex-end;
	padding: 0;
	margin: 0;
	position: relative;
	height:32px;
}

.list_weekday li *
{
	padding: 0;
	margin: 0;
}

.label_weekday {width: 15%;height:12px;}
.checkbox_weekday {width: 5%;height:12px;}
.slider {width: 70%;text-align: center; height:30px;}
