/* conditional play  timer */

.form-group{margin:0 0 0.5rem 0;display: flex; gap:0.5rem;align-items: center;}
    .form-group div{gap:0.5rem; align-items: center;}
    .form-group label{display: inline;padding:0;margin:0;}
    .form-group > label{width:10rem;}
.form-group input[type=date], [type=time]{width:8rem;}


.weekdays_header
{
	font-weight: bold;
	padding:1em 0 0 0;
	margin:0;
}

.list_weekday^
{
	list-style: none;
	display: flex;
	gap:0.5em;
	align-items: flex-end;
	padding: 0;
	margin: 0;
	position: relative;
	height:32px;
}


.checkbox-weekday {width: 5%;height:12px;}
.slider {width: 70%;text-align: center; height:30px;}
