.results-listing .playlist_name {width:59%;}
.results-listing .UID {width:20%;}
.results-listing .playlist_mode {width:7%;}
.results-listing .duration {width:7%;}
.results-listing .functions {width:6%;}
