.form-elements {display:flex;gap:1rem;}
.form-elements .field-wrapper input {width:100%;}

.form-elements .field-wrapper:first-child{width:30%; min-width:200px;}
.form-elements .field-wrapper:nth-child(2){width:30%; min-width:200px;}
.form-elements .field-wrapper:nth-child(3){width:12%; min-width:100px;}
