#trigger
{
	padding:0;
	margin:0;
}
	#trigger > li
	{
		padding:0.5em 0;
		margin:0;
	}

	#trigger #wallclocks, #trigger #accesskeys, #trigger #touches, #trigger #notifies
	{
		display:flex;
		flex-direction: row;
		gap:1em;
		padding:0;
		margin:0;
	}
		#trigger #wallclocks ul, #trigger #accesskeys ul, #trigger #touches ul, #trigger #notifies ul
		{
			background-color:#eee;
			padding: 1em;
			margin:  0;
		}
		#trigger #wallclocks ul li
		{
			white-space: nowrap;
		}

		#trigger #wallclocks .repeats ul
		{
			display:flex;
			flex-direction: row;
			gap:0.5em;
			justify-content:flex-start;
			align-items:center;
			padding:0;
			margin:0;
		}

	#trigger .edit_accesskey
	{
		width:3em;
	}
	#trigger .edit_notify
	{
		width:18em;
	}

#trigger .thymian-icon-add, #trigger .thymian-icon-remove
{
	display:block;
	padding-left:2em;
	background-repeat: no-repeat;
}
#trigger .thymian-icon-remove
{
	width:10em;
}