<h1>{{LANG_PAGE_HEADER}}</h1>
<form id="login_form" method="POST" action="/login">
	<fieldset>
		<label for="username">{{LANG_USERNAME}}:</label>
		<input type="text" id="username" name="username" required>
		<label for="password">{{LANG_PASSWORD}}:</label>
		<input type="password" id="password" name="password" required>
		<button type="submit">{{LANG_SUBMIT}}</button>
	</fieldset>
</form>
