<h1>{{{LANG_PAGE_HEADER}}}</h1>
<input type="hidden" id="playlist_id" value="{{{PLAYLIST_ID}}}">
<label for="urlToPlaylist">{{{LANG_URL_TO_PLAYLIST}}}</label>
<input type="url" id="urlToPlaylist" value="{{{URL_TO_PLAYLIST}}}" placeholder="https://garlic-player.com/test.smil" title="{{{LANG_URL_TO_PLAYLIST}}}">
<div>
	<button type="submit" id="submitSearch">{{{LANG_SAVE}}}</button>
	<button type="submit" id="submitClose">{{{LANG_CLOSE}}}</button>
</div>
