
{{> datatable}}

<template id="playlistContextMenuTemplate">
	<ul class="context-menu">
		{{#create_playlist_contextmenu}}
		<li>
			<a href="/playlists/settings/{{{CREATE_PLAYLIST_MODE}}}">{{{LANG_CREATE_PLAYLIST_MODE}}}</a>
		</li>
		{{/create_playlist_contextmenu}}
	</ul>
</template>
