<ul id="trigger">
	<li>
		<input type="hidden" name="trigger_item_id" id="edit_item_id" value="{{{TRIGGER_ITEM_ID}}}" />
		<a href="#" title="{{{LANG_ADD_WALLCLOCK}}}" class="bi bi-plus-circle" id="add_wallclock">
			{{{LANG_WALLCLOCK}}}
		</a>
	<li id="wallclocks"></li>
	<li>
		<a href="#" title="{{{LANG_ADD_ACCESSKEY}}}" class="bi bi-plus-circle"  id="add_accesskey">
			{{{LANG_ACCESSKEY}}}
		</a>
	</li>
	<li id="accesskeys"></li>
	<li>
		<a href="#" title="{{{LANG_ADD_TOUCH}}}" class="bi bi-plus-circle" id="add_touch">
			{{{LANG_TOUCH}}}
		</a>
	</li>
	<li id="touches"></li>
	<li>
		<a href="#" title="{{{LANG_ADD_NOTIFY}}}" class="bi bi-plus-circle" id="add_notify">
			{{{LANG_NOTIFY}}}
		</a>
	</li>
	<li id="notifies"></li>
</ul>
<template id="wallclockTemplate">
		<ul>
			<li>
				<p>
					<a href="#" title="{{{LANG_REMOVE_WALLCLOCK}}}" class="bi bi-trash" >{{{LANG_REMOVE_WALLCLOCK}}}</a>
				</p>
				<label>{{{LANG_WEEKDAY}}}
					<select class="edit_weekday">
						<option value="0">-</option>
						{{#wallclock_weekdays}}
							<option value="{{{WEEKDAY_NUMBER}}}">{{{LANG_WEEKDAY_NAME}}}</option>
						{{/wallclock_weekdays}}
					</select>
				</label>
				<label>
					<select class="edit_weekday_prefix">
						<option value="+">{{{LANG_WEEKDAY_AFTER}}}</option>
						<option value="-">{{{LANG_WEEKDAY_BEFORE}}}</option>
					</select>
				</label>
				<label>{{{LANG_DATETIME}}}
					<input type="datetime-local" class="edit_date_time" step="1">
				</label>
			</li>
			<li>
				<p>{{{LANG_REPEATS}}}</p>
				<label>
					<input type="radio" value="-1" class="no-repeats"> {{{LANG_NO_REPEATS}}}
				</label>
				<label>
					<input type="radio"  value="0" class="infinite_repeats" {{{INFINITE_REPEATS_SELECT}}} /> {{{LANG_INFINITE_REPEATS}}}
				</label>
				<label>
					<input type="radio" value="1" name="select_repeats_{{{WALLCLOCK_COUNT}}}" {{{NUMBER_REPEATS_SELECT}}} /> {{{LANG_NUMBER_REPEATS}}}
					<input type="number" min="1" max="9999">
				</label>
			</li>
			<li class="repeats">
				{{{LANG_EVERY}}}:
				<ul>
					<li>
						<label>
							<input type="number"  class="repeat_minutes" min="0" max="59"><br /> {{{LANG_REPEAT_MINUTES}}}
						</label>
					</li>
					<li>
						<label>
							<input type="number" class="repeat_hours" min="0" max="23"><br /> {{{LANG_REPEAT_HOURS}}}
						</label>
					</li>
					<li>
						<label for="repeat_days">
							<input type="number" class="repeat_days" min="0" max="7"><br /> {{{LANG_REPEAT_DAYS}}}
						</label>
					</li>
					<li>
						<label for="repeat_weeks">
							<input type="number" class="repeat_weeks" min="0" max="4"><br /> {{{LANG_REPEAT_WEEKS}}}
						</label>
					</li>
					<li>
						<label for="repeat_months">
							<input type="number" class="repeat_months" min="0" max="11"><br /> {{{LANG_REPEAT_MONTHS}}}
						</label>
					</li>
					<li>
						<label>
							<input type="number" class="repeat_years" min="0" max="11"  value="{{{REPEAT_YEARS}}}" /><br /> {{{LANG_REPEAT_YEARS}}}
						</label>
					</li>
				</ul>
			</li>
		</ul>
</template>

<template id="accesskeysTemplate">
	<ul>
		<li>
			<p>
				<a href="#" title="{{{LANG_REMOVE_ACCESSKEY}}}" class="bi bi-trash" >{{{LANG_REMOVE_ACCESSKEY}}}</a>
			</p>
			<label>
				 <input type="text" class="edit_accesskey" maxlength="1" pattern="[a-zA-Z0-9]*" title="{{{LANG_ONLY_ALPHANUMERIC}}}">
			</label>
		</li>
	</ul>
</template>
<template id=touchesTemplate">
	<ul>
		<li>
			<p>
				<a href="#" title="{{{LANG_REMOVE_TOUCH}}}" class="bi bi-trash" data-id>{{{LANG_REMOVE_TOUCH}}}</a>
			</p>
			<label>
				<select id="edit_touch_item_{{{TOUCH_COUNT}}}" class="edit_touch_item">
					<option value="0">-</option>
				</select>
			</label>
		</li>
	</ul>
</template>
<template id="notifiesTemplate">
	<ul data-nodify-count="notify_{{{NOTIFY_COUNT}}}">
		<li>
			<p>
				<a href="#" title="{{{LANG_REMOVE_NOTIFY}}}" class="bi bi-trash">{{{LANG_REMOVE_NOTIFY}}}</a>
			</p>
			<label>
				<input type="text" class="edit_notify" pattern="[a-zA-Z0-9]*" title="{{{LANG_ONLY_ALPHANUMERIC}}}">
			</label>
		</li>
	</ul>
</template>